[mysqld]
innodb_file_per_table           = 1
max_allowed_packet              = 256M
innodb_buffer_pool_chunk_size   = 256M
innodb_buffer_pool_instances    = 4
innodb_log_file_size            = 256M
innodb_log_files_in_group       = 2
innodb_flush_method             = O_DIRECT
innodb_flush_log_at_trx_commit  = 2
explicit_defaults_for_timestamp = 1
