[mysqld]
innodb_file_per_table           = 1
max_allowed_packet              = 256M
innodb_buffer_pool_size         = 8G
innodb_buffer_pool_chunk_size   = 1G
innodb_buffer_pool_instances    = 8
innodb_log_file_size            = 2G
innodb_flush_method             = O_DIRECT
innodb_flush_log_at_trx_commit  = 2
query_cache_size                = 0
query_cache_type                = 0
explicit_defaults_for_timestamp = 1
